.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-radius: 5px;
}

.items__item {
  background-color: lightgray;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.item__name {
  font-weight: bold;
  font-size: larger;
}

.total {
  float: right;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.total__checkout {
  display: block;
}
