<form [formGroup]='searchForm' (submit)='searchForm.valid && onSubmit()'>
    <div class="mb-3">
        <p class="form__seachAndSubmit">

            <input type="search" name="search" placeholder="search" formControlName='search'
                [ngClass]="{'form--errors':fc.search.touched && fc.search.errors}" class="form-control">
            <input type="submit" class="form__submit" [disabled]='searchForm.invalid'>
        </p>
        <div *ngIf='fc.search.touched' class="form__errors">
            <span *ngIf='fc.search.errors?.required'>required</span>
        </div>
    </div>
</form>

<div class="foods">
    <div *ngFor='let food of foods' class="foods__food">
        <p class="food__name">{{food.name | titlecase}}</p>
        <p>{{food.description}}</p>
        <p>{{food.price | currency}}</p>
    </div>
</div>